.form {
  position: relative;
  margin: auto;
}

.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile-card form {
  padding: 0 1.5rem 0 1rem;
}

.title {
  margin: 2rem;
  text-align: center;
}

.form_box_input {
  margin-top: 2rem;
}

.form_box_input_first {
  margin-top: 0;
}

.form_box_input label,
.form_box_input_first label {
  display: block;
  width: 100%;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.form_box_input_name,
.form_box_input_lastName {
  margin-top: 0.5rem;
  padding: 10px;
  font-size: 1.25rem;
}

.form_box_input_box {
  margin-top: 0.5rem;
  width: 50%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.form_box_input_box {
  margin-top: 0.5rem;
  width: 50%;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.form_box_input_box input {
  padding: 1rem;
  font-size: 1.3rem
}

.img-size img {
  width: 250px;
  height: 250px;
  margin-left: 5rem;
  object-fit: cover;
  border: 3px solid rgb(0, 0, 0);
}

.logout {
  width: 300px;
  text-align: center;
}

.logout input {
  position: relative;
  top: 50%;
  bottom: 50%;
  right: 50%;
  left: 50%;
  font-size: 1.3rem;
  width: 200px;
  padding: 1rem;
  margin-top: 1rem;
}

@media (min-width: 375px) and (max-width: 412px) {
  .form_box_input_box {
    width: 100%;
  }
  .img-size img {
    margin-left: 0;
  }
  .logout input {
    position: relative;
    top: 50%;
    bottom: 50%;
    right: 0;
    left: 15%;
    font-size: 1.3rem;
    width: 200px;
    padding: 1rem;
    margin-top: 1rem;
  }
}