.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin: auto;
  width: 28rem;
  font-size: 20px;
}

.signin,
.signup {
  padding: 3rem 2rem;
}

.login-container h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-container form input {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.login-container form small {
  display: block;
  margin-top: 1rem;
}

.login-container form small label {
  color: #17a2b8;
  cursor: pointer;
}

.login-container form small label:hover {
  opacity: 0.8;
}